In [13]:
import pandas as pd

# Your provided data
data = pd.read_csv("Mar-31-data.csv")
print(data)
# Create a DataFrame
df = pd.DataFrame(data)

# Convert "Estimated Arrival Time" to minutes
df['Estimated Arrival Time'] = pd.to_timedelta(df['Estimated Arrival Time'])
df['EA_Time'] = df['Estimated Arrival Time'].dt.total_seconds() / 60
# Print the result DataFrame
#print(df)

df.to_csv("EA_Time.csv")

     Unnamed: 0 Aircraft Flight Type  \
0             0  FHY8014        A320
1             1  AIQ3017        A320
2             2   MMA334        A320
3             3  CSZ9756        A320
4             4   JBU729        A320
..          ...      ...         ...
114         114   LBT246        A320
115         115  IBE3314        A320
116         116  CQH6604        A320
117         117   VJC629        A320
118         118   EIN593        A320

                                               Origin  \
0                                Antalya (AYT / LTAI)
1    Don Muang Int'l (Old Bangkok Int'l) (DMK / VTBD)
2             Suvarnabhumi Bangkok Int'l (BKK / VTBS)
3                     Xiamen Gaoqi Int'l (XMN / ZSAM)
4                       Rafael Hernandez (BQN / TJBQ)
..                                                ...
114                 Tunis-Carthage Int'l (TUN / DTTA)
115         Adolfo Suárez Madrid-Barajas (MAD / LEMD)
116                         Kansai Int'l (KIX / RJBB)
117                        Da Nang Int'l (DAD / VVDN)
118         Adolfo Suárez Madrid-Barajas (MAD / LEMD)

                         Destination    Departure Time       Arrival Time  \
0                                NaN   Sun 12:07PM +03                NaN
1          Phuket Int'l (HKT / VTSP)   Sun 04:07PM +07    Sun 05:22PM +07
2          Yangon Int'l (RGN / VYYY)   Sun 04:06PM +07  Sun 04:36PM +0630
3      Yangzhou Taizhou (YTY / ZSYA)   Sun 05:06PM CST    Sun 06:35PM CST
4                                NaN               NaN                NaN
..                               ...               ...                ...
114     Frankfurt Int'l (FRA / EDDF)   Sun 09:58AM CET   Sun 01:13PM CEST
115   Stockholm-Arlanda (ARN / ESSA)  Sun 10:58AM CEST   Sun 01:13PM CEST
116  Ningbo Lishe Int'l (NGB / ZSNB)   Sun 05:58PM JST    Sun 07:30PM CST
117  Tan Son Nhat Int'l (SGN / VVTS)   Sun 03:58PM +07    Sun 04:58PM +07
118        Dublin Int'l (DUB / EIDW)  Sun 10:58AM CEST    Sun 11:48AM IST

    Estimated Arrival Time RealArrivalTime
0                      NaN             NaN
1                 01:15:00          1h 26m
2                 01:00:00          0h 50m
3                 01:29:00          2h 14m
4                      NaN             NaN
..                     ...             ...
114               02:15:00          2h 53m
115               02:15:00          2h 12m
116               02:34:00          2h 55m
117               01:00:00          1h 41m
118               01:51:00          2h 35m

[119 rows x 9 columns]

In [14]:
# Convert RealArrivalTime to Minutes. Eg: 3h 01m ->  181 min

def time_to_minutes(time_str):
    if pd.isna(time_str):
        return None
    else:
        hours, minutes = time_str.split('h ')
        hours = int(hours)
        minutes = int(minutes[:-1])  # Removing the 'm' from minutes
        return hours * 60 + minutes

# Apply the function to each row in the DataFrame
df['RA_Time'] = df['RealArrivalTime'].apply(time_to_minutes)
#df

In [15]:
df.to_csv("RA_Time.csv")

In [16]:
# Find Dealy_Time in minutes

df['Delay_Time'] = df['RA_Time'] - df['EA_Time']

In [17]:
# Extract Departure_Date form Departure Time

def convert_day_to_date(day):
    if day == 'Mon':
        return '04.03.2024'
    elif day == 'Tue':
        return '05.03.2024'
    elif day == 'Wed':
        return '06.03.2024'
    elif day == 'Thu':
        return '07.03.2024'
    elif day == 'Fri':
        return '08.03.2024'
    elif day == 'Sat':
        return '09.03.2024'
    elif day == 'Sun':
        return '10.03.2024'
    
df['Departure_Date'] = df['Departure Time'].str.split().str[0].apply(convert_day_to_date)
#df.to_csv("extract_dates.csv")
#df

In [18]:
# Extract Arrival_Date form Arrival Time

def convert_day_to_date(day):
    if day == 'Mon':
        return '04.03.2024'
    elif day == 'Tue':
        return '05.03.2024'
    elif day == 'Wed':
        return '06.03.2024'
    elif day == 'Thu':
        return '07.03.2024'
    elif day == 'Fri':
        return '08.03.2024'
    elif day == 'Sat':
        return '09.03.2024'
    elif day == 'Sun':
        return '10.03.2024'
    
df['Arrival_Date'] = df['Arrival Time'].str.split().str[0].apply(convert_day_to_date)
#df.to_csv("extract_dates.csv")
df.head()

,Unnamed: 0,Aircraft,Flight Type,Origin,Destination,Departure Time,Arrival Time,Estimated Arrival Time,RealArrivalTime,EA_Time,RA_Time,Delay_Time,Departure_Date,Arrival_Date
0,0,FHY8014,A320,Antalya (AYT / LTAI),NaN,Sun 12:07PM +03,NaN,NaT,NaN,NaN,NaN,NaN,10.03.2024,None
1,1,AIQ3017,A320,Don Muang Int'l (Old Bangkok Int'l) (DMK / VTBD),Phuket Int'l (HKT / VTSP),Sun 04:07PM +07,Sun 05:22PM +07,0 days 01:15:00,1h 26m,75.0,86.0,11.0,10.03.2024,10.03.2024
2,2,MMA334,A320,Suvarnabhumi Bangkok Int'l (BKK / VTBS),Yangon Int'l (RGN / VYYY),Sun 04:06PM +07,Sun 04:36PM +0630,0 days 01:00:00,0h 50m,60.0,50.0,-10.0,10.03.2024,10.03.2024
3,3,CSZ9756,A320,Xiamen Gaoqi Int'l (XMN / ZSAM),Yangzhou Taizhou (YTY / ZSYA),Sun 05:06PM CST,Sun 06:35PM CST,0 days 01:29:00,2h 14m,89.0,134.0,45.0,10.03.2024,10.03.2024
4,4,JBU729,A320,Rafael Hernandez (BQN / TJBQ),NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,None,None

In [19]:
# Clean time in format of HH:MM AM/PM

df['Arrival_Time'] = df['Arrival Time'].str.extract(r'(\d{2}:\d{2}[AP]M)')
df['Departure_Time'] = df['Departure Time'].str.extract(r'(\d{2}:\d{2}[AP]M)')

In [20]:
# Clean time in format of 24 hours


df['Arrival_Time'] = pd.to_datetime(df['Arrival_Time']).dt.strftime('%H:%M')
df['Departure_Time'] = pd.to_datetime(df['Departure_Time']).dt.strftime('%H:%M')
df.head(3)

/tmp/ipykernel_9557/4013279808.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Arrival_Time'] = pd.to_datetime(df['Arrival_Time']).dt.strftime('%H:%M')
/tmp/ipykernel_9557/4013279808.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Departure_Time'] = pd.to_datetime(df['Departure_Time']).dt.strftime('%H:%M')

,Unnamed: 0,Aircraft,Flight Type,Origin,Destination,Departure Time,Arrival Time,Estimated Arrival Time,RealArrivalTime,EA_Time,RA_Time,Delay_Time,Departure_Date,Arrival_Date,Arrival_Time,Departure_Time
0,0,FHY8014,A320,Antalya (AYT / LTAI),NaN,Sun 12:07PM +03,NaN,NaT,NaN,NaN,NaN,NaN,10.03.2024,None,NaN,12:07
1,1,AIQ3017,A320,Don Muang Int'l (Old Bangkok Int'l) (DMK / VTBD),Phuket Int'l (HKT / VTSP),Sun 04:07PM +07,Sun 05:22PM +07,0 days 01:15:00,1h 26m,75.0,86.0,11.0,10.03.2024,10.03.2024,17:22,16:07
2,2,MMA334,A320,Suvarnabhumi Bangkok Int'l (BKK / VTBS),Yangon Int'l (RGN / VYYY),Sun 04:06PM +07,Sun 04:36PM +0630,0 days 01:00:00,0h 50m,60.0,50.0,-10.0,10.03.2024,10.03.2024,16:36,16:06

In [21]:
df = df.drop(columns=['Departure Time', 'Arrival Time'])
df.head()

,Unnamed: 0,Aircraft,Flight Type,Origin,Destination,Estimated Arrival Time,RealArrivalTime,EA_Time,RA_Time,Delay_Time,Departure_Date,Arrival_Date,Arrival_Time,Departure_Time
0,0,FHY8014,A320,Antalya (AYT / LTAI),NaN,NaT,NaN,NaN,NaN,NaN,10.03.2024,None,NaN,12:07
1,1,AIQ3017,A320,Don Muang Int'l (Old Bangkok Int'l) (DMK / VTBD),Phuket Int'l (HKT / VTSP),0 days 01:15:00,1h 26m,75.0,86.0,11.0,10.03.2024,10.03.2024,17:22,16:07
2,2,MMA334,A320,Suvarnabhumi Bangkok Int'l (BKK / VTBS),Yangon Int'l (RGN / VYYY),0 days 01:00:00,0h 50m,60.0,50.0,-10.0,10.03.2024,10.03.2024,16:36,16:06
3,3,CSZ9756,A320,Xiamen Gaoqi Int'l (XMN / ZSAM),Yangzhou Taizhou (YTY / ZSYA),0 days 01:29:00,2h 14m,89.0,134.0,45.0,10.03.2024,10.03.2024,18:35,17:06
4,4,JBU729,A320,Rafael Hernandez (BQN / TJBQ),NaN,NaT,NaN,NaN,NaN,NaN,None,None,NaN,NaN

In [22]:
# Re-structure the columns 

df = df[['Aircraft','Flight Type','Origin','Destination', 'Departure_Date', 'Departure_Time', 'Arrival_Date', 'Arrival_Time', 'EA_Time', 'RA_Time', 'Delay_Time']]
df

,Aircraft,Origin,Destination,Departure_Date,Departure_Time,Arrival_Date,Arrival_Time,EA_Time,RA_Time,Delay_Time
0,FHY8014,Antalya (AYT / LTAI),NaN,10.03.2024,12:07,None,NaN,NaN,NaN,NaN
1,AIQ3017,Don Muang Int'l (Old Bangkok Int'l) (DMK / VTBD),Phuket Int'l (HKT / VTSP),10.03.2024,16:07,10.03.2024,17:22,75.0,86.0,11.0
2,MMA334,Suvarnabhumi Bangkok Int'l (BKK / VTBS),Yangon Int'l (RGN / VYYY),10.03.2024,16:06,10.03.2024,16:36,60.0,50.0,-10.0
3,CSZ9756,Xiamen Gaoqi Int'l (XMN / ZSAM),Yangzhou Taizhou (YTY / ZSYA),10.03.2024,17:06,10.03.2024,18:35,89.0,134.0,45.0
4,JBU729,Rafael Hernandez (BQN / TJBQ),NaN,None,NaN,None,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
114,LBT246,Tunis-Carthage Int'l (TUN / DTTA),Frankfurt Int'l (FRA / EDDF),10.03.2024,09:58,10.03.2024,13:13,135.0,173.0,38.0
115,IBE3314,Adolfo Suárez Madrid-Barajas (MAD / LEMD),Stockholm-Arlanda (ARN / ESSA),10.03.2024,10:58,10.03.2024,13:13,135.0,132.0,-3.0
116,CQH6604,Kansai Int'l (KIX / RJBB),Ningbo Lishe Int'l (NGB / ZSNB),10.03.2024,17:58,10.03.2024,19:30,154.0,175.0,21.0
117,VJC629,Da Nang Int'l (DAD / VVDN),Tan Son Nhat Int'l (SGN / VVTS),10.03.2024,15:58,10.03.2024,16:58,60.0,101.0,41.0
118,EIN593,Adolfo Suárez Madrid-Barajas (MAD / LEMD),Dublin Int'l (DUB / EIDW),10.03.2024,10:58,10.03.2024,11:48,111.0,155.0,44.0

In [23]:
df.to_csv("Mar-31-Final_DataSet.csv")